form {
  margin-top: 5px;
  margin-bottom: 10px;
}

#calendar {
  margin-right: 5px;
}

#classes {
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 30% 65%;
}

#class_list {
  border: 2px solid black;
}

#list_parent {
  list-style: none;
  padding-left: 0;
}

.class_item {
  margin: 1px;
  border: 1px solid black;
  padding: 0px 10px;
}

.class_item p {
  margin: 5px 0px;
}

.class_item div {
  display: inline-block;
}

.class_item:hover {
  cursor: pointer;
  background-color: yellow;
}

.right {
  float: right;
  text-align: right;
}